LARK_APP_ID=cli_xxxxxxxxxxxxxxxx
LARK_APP_SECRET=xxxxxxxxxxxxxxxx
LARK_BASE_TOKEN=DpJzbbNWUaENaBspfrUckhS6nUh
LARK_TABLE_WORKS=tblBiZDJjE6CzV6A
LARK_TABLE_CALENDAR=tbl8yZAnXy7RvNYR
LARK_TABLE_BOOKINGS=tblkCrMs39qOdLZI
LARK_TABLE_CONFIG=tblFGakgPmBcQ60K

